<div class="details-page" *ngIf="product">

  <div class="details-container">

    <div class="details-left">
      <div class="title-wrap">
        <button (click)="goBack()" class="back-btn">
          ←
        </button>
        <h2>{{ product.fields.productName }}</h2>
      </div>

      <p><strong>Colección:</strong> {{ product.fields.productColection }}</p>
      <p>{{ product.fields.productDescription }}</p>
    </div>

    <div class="details-right" *ngIf="product.fields.productImage?.length">

      <!-- Imagen principal -->
      <div class="main-image">
        <img
          [src]="'https:' + product.fields.productImage[currentImageIndex].fields.file.url"
          alt=""
        />
      </div>

      <!-- Miniaturas -->
      <div class="thumbnails">
        <img
          *ngFor="let img of product.fields.productImage; let i = index"
          [src]="'https:' + img.fields.file.url"
          [class.active]="i === currentImageIndex"
          (click)="selectImage(i)"
        />
      </div>

    </div>

  </div>

</div>
