<div class="servicios-container">
  <h1>Nuestros Servicios</h1>
  <p class="subtitulo">Ofrecemos soluciones personalizadas para tus necesidades de iluminación.</p>

  <div class="servicios-grid">
    <!-- Usamos un *ngFor para crear las tarjetas dinámicamente -->
     <a *ngFor="let servicio of servicios" 
       [routerLink]="servicio.enlace" 
       class="servicio-card"
       (mouseover)="onMouseOver(servicio)"
       (mouseout)="onMouseOut(servicio)"
       (touchstart)="onMouseOver(servicio)"
       (touchend)="onMouseOut(servicio)">
      
      <!-- La imagen ahora es dinámica -->
      <img [src]="servicio.imgActual" [alt]="servicio.titulo">
      
      <div class="servicio-info">
        <!-- El contenido también es dinámico -->
        <h3>{{ servicio.titulo }}</h3>
        <p>{{ servicio.descripcion }}</p>
        <span>Ver detalles →</span>
      </div>
    </a>
  </div>
</div>
